#baseURL: "./"
languageCode:: "en-GB"
title: "s11.no ≔ з11.ею"
theme: "ronu"
siteDescription:: "Scalable, Sustainable, Supported, Standard, open-Source Software and Service Solutions from Stavanger to Stockport"
# mainSections: ["post"]
relativeURLs: true

#[[menu.main]]:
#  name: "Blog"
#  url: "/posts/"

menu:
  main:
    - name: "About"
      url: "/2022/about/"
    - name: "Publications"
      url: "2022/publications/"
    - name: "Archive"
      url: "/2022/archive/"
    - name: "House rules"
      url: "/2021/house-rules/"
    - name: "PhD"
      url: "/2023/phd/"

params:
  authorName: "Stian Soiland-Reyes"
  twitterURL: "https://twitter.com/soilandreyes"
  linkedinURL: "https://uk.linkedin.com/in/stain"
  githubURL: "https://github.com/stain/"
  orcidURL: "https://orcid.org/0000-0001-9842-9718"
  YEAR: 2023   # Year used in permalinks
  htaccess: |
    Redirect 301 /2022/prov/feed/ /2022/prov/index.xml
    Redirect 301 /2022/prov/about/ /2022/prov/
    RedirectMatch 303 ^/20(1.|20|21)/prov/$ /2022/prov/
    RedirectMatch 303 ^/2022/prov/20../../$ /2022/prov/
    RedirectMatch 303 ^/2022/prov/category/(.*)$ /2023/tags/$1/
    RedirectMatch 301 ^/202[01]/archive/$ /2022/archive/
    RedirectMatch 301 ^/20(19|20|21|22)/phd/$ /2023/phd/

    Redirect 301 /202[012]/categories/ /2023/categories/
    Redirect 301 /202[012]/tags/ /2023/tags/
    AddDefaultCharset UTF-8
    AddType text/plain .md5
    AddType text/plain .sha1
    AddType font/woff2 .woff2
    AddType font/woff .woff
    Header set Access-Control-Allow-Origin "*"
    ErrorDocument 404 /404.html
    IndexOptions Charset=UTF-8
    IndexOptions -FancyIndexing -HTMLTable +FoldersFirst +NameWidth=40 +TrackModified
    <FilesMatch "\.html$">
      Header add Link "</2023/css/bundle.css>;rel=preload;as=style"
      Header add Link "</2023/images/cc-by-4.0.svg>;rel=preload;as=image"
      Header add Link "</2023/fonts/ibm-plex-serif-v15-latin_cyrillic-regular.woff2>;rel=preload;as=font"
      Header add Link "</2023/fonts/caveat-v17-latin_cyrillic-regular.woff2>;rel=preload;as=font"
      Header add Link "</2023/fonts/oswald-v49-latin-600.woff2>;rel=preload;as=font"
    </FilesMatch>
    <Files "ro-crate-metadata.json">
      Header add Link "<ro-crate-preview.html>;rel=alternate;type=\"text/html\""
      Header add Link "<./>;rel=describes"
      ForceType "application/ld+json; profile=\"http://www.w3.org/ns/json-ld#flattened http://www.w3.org/ns/json-ld#compacted https://w3id.org/ro/crate\""
    </Files>
    <Files "ro-crate-preview.html">
      Header add Link "<ro-crate-metadata.json>;rel=alternate;type=\"application/ld+json\""
      Header add Link "<./>;rel=describes"
    </Files>

permalinks:
  /: /:year/:filename/
  posts: /:year/:filename/
  tags: /2023/tags/:slug/
  categories: /2023/categories/:slug/

taxonomies:
  category: categories
  tag: tags
  
#disableKinds:
#  - taxonomy
#  - term  


mediaTypes:
  "text/x-htaccess":
    suffixes: ["htaccess"]

outputs:
  home: ["HTML", "htaccess"]

outputFormats:
  htaccess:
    baseName: ""
    isPlainText: true
    mediaType: text/x-htaccess

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    renderer:
      unsafe: true
