aside #TableOfContents {
  width: 35%;
  padding-left: .5rem;
  margin-left: 1rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  font-size: smaller;
}
aside #TableOfContents > ul::before {
  content: "Content:"
}
aside #TableOfContents ul li ul::before {
  content: "［"
}
aside #TableOfContents ul li ul {
  display: inline-block;
}
aside #TableOfContents ul li ul::after {
  content: "］"
}

nav {
  font-family: $font-family-sans-serif;
  letter-spacing: .05em;

  h1 {
    display: block;
    font-weight: 400;
    font-size: 1.3em;
    margin: 0 0 .25em 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline;
    color: $color-blossom;
    font-size: .8em;
    margin: 0 1em 0 0;
    text-transform: uppercase;
  }
}

#pagination {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* Set characteristics to match Google fonts */
em { 
  font-weight: 300;
}
strong { 
  font-weight: 600;
}
pre, code, kbd, samp {
  font-family: $font-family-mono;
}
p code { 
  font-size: $font-size-base * 0.8;
}
pre, pre code { 
  line-height: 1.45;
  font-size: $font-size-base * 0.8;
  overflow: scroll;
}

blockquote { 
  font-family: $font-family-quote;
  font-weight: 700;
  font-style: italic;
  line-height: 1.1;
  font-size: $font-size-base * 1.2;
}
blockquote code { 
  font-size: $font-size-base * 0.9;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

header nav h1 {
  font-family: $font-family-quote;
}

header {
  nav {
    ul { 
      background-color: $color-bg-alt;
      margin-left: -0.4em;
      padding-left: 0.4em;
      margin-right: -0.4em;
      padding-right: 0.4em;
    }
    li { 
      text-transform: capitalize;
    }
  } 
}

body { 
  counter-reset: figure;
}

figure { 
  font-size: $font-size-base * 0.85;
  h4 { 
    font-weight: bold;
    font-size: $font-size-base * 0.85;
    display: inline;
  }
  h4::before { 
    counter-increment: figure;
    content: "Figure " counter(figure) ": "
  }
  h4::after { 
    content: ". "
  }
  p:first-of-type {
    display: inline;
  }
}

footer { 
  border-top: thin;
  border-top-style: solid;
  font-size: smaller;
  nav {
    li { 
      text-transform: initial;
    }
    li:first-of-type a::before {
      content: "↑";
    }
  }
  .license {
    font-size: smaller;
    img {
      max-height: 2.5em;      
      float: left;
      padding-top: 0.4em;
      padding-right: 0.25em;
      aspect-ratio: auto 2.8567926562533468;
    }
    a:last-of-type {
      white-space: nowrap;
    }
  }
}

main {
  text-justify: auto;
  p {   
    text-align: justify;
    text-justify: newspaper;
  }
}

ul.tags,ul.categories { 
  display: inline;
  list-style-type: none;
  padding: 0;
  
  li {
    display: inline;
  }
}

ul.tags { 
  li {
    color: $color-blossom;
    font-size: smaller;
    font-family: $font-family-quote;
    margin-left: 1em;
  }
}

ul.categories { 
  li {
    color: $color-blossom;
    font-size: smaller;
    background: #eee;
    border-color: #424242;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-style: solid;
    border-width: thin;
    padding: 0.2em;
    font-family: $font-family-serif;
    margin-right: 1em;
  }
  li::before { 
    content: "⃝";
    padding-right: 1.3em;
    color: #424242;
  }
}


time { 
  font-size: smaller;
  font-style: italic;
}

.references { 
  font-size: smaller;
  p { 
    text-align: left;
  }
}

.appendix { 
  font-size: smaller;  
}

.footnotes { 
  font-size: smaller;
  font-style: italic;
  
  p { 
    text-align: left;
  }
  hr { 
    margin-bottom: 2em;
  }
  hr::after { 
    content: "Footnotes";
    font-style: normal;
    font-weight: bold;
    line-height: 150%;

  }  
}

.sidebar { 
  float: right; 
  border: thin #424242 solid; 
  padding: 0.5em; 
  margin: 1em; 
  margin-right: 0; 
  font-size: $font-size-base * 0.75; 
  max-width: 20em; 
  min-width: 15em; 
  background: #eee; 
  color: #111;
  h2,h3,h4,h5,h6 { 
    margin-top: 0.1em;
    margin-bottom: 0.5em;    
  }
  h2 { 
    font-size: $font-size-base; 
  }
  h3 { 
    font-size: $font-size-base * 0.9;
  }
  h4 { 
    font-size: $font-size-base * 0.8; 
  }
  h5,h6 { 
    font-size: $font-size-base * 0.75; 
  }
  p { 
    margin: 0 !important;
  }
  p+p { 
    text-indent: 2em;
  }
}

.citation, .affiliations, table { 
  font-size: $font-size-base * 0.85;
  p { 
    text-align: left;
  }
}

@media print { 
  nav { 
    display: none;
  }
  body { 
    font-size: 12pt;
  }
  .citation, .affiliations, table, figure {
    font-size: 10pt;
  }  
  h1 { 
    font-size: 24pt;
  }
  h2 { 
    font-size: 20pt;
  }
  h3 { 
    font-size: 16pt;    
  }
  h4 { 
    font-size: 14pt;
  }
  h5, h6  { 
    font-size: 12pt;
  }
  article > h1, .references > h2 { 
    page-break-before: always;
    page-break-after: avoid;
  }
  .sidebar { 
    font-size: 10pt;
    h2 {
      font-size: 12pt;
    }
    h3 { 
      font-size: 11pt;
    }
    h4,h5,h6 { 
      font-size: 10pt;
    }
  }
}

@import "font-caveat";
@import "font-ibm-plex-mono";
@import "font-ibm-plex-serif";
@import "font-open-sans";
@import "font-oswald";
@import "font-source-code-pro";
@import "font-stix-two";
