{{ define "main" }}
<section typeof="s:Collection s:CreativeWork" about="{{ .Permalink }}">
  <dl>
    {{ range .Site.RegularPages }}		
      <dt><a about="{{ .Permalink }}" href="{{ .Permalink }}" typeof="s:CreativeWork" rel="item">
        <span property="title">{{ .Title }}</span>
        </a>
        {{ partial "time.html" . }}
        {{ partial "tags.html" . }}
      </dt>        
      <dd>
        <small property="s:abstract s:description" resource="{{ .Permalink }}">
          {{ .Summary  }}
          …        
        </small>
      </dd>
    {{ end }}
  </dl>  
</section>  
{{ end }}