{{ define "main" }}
{{ $data := .Data }}
<section typeof="s:Collection s:CreativeWork" resource="{{ .Permalink }}">
      <h1 property="s:name">{{ $.Data.Plural | humanize }}</h1>
      <div property="s:description">
        {{ .Content }}
      </div>
      <dl>
      {{ range $key, $value := .Data.Terms }}
        {{ $tagurl := path.Join ("/" | relLangURL) "2020" ($.Data.Plural | urlize) ($key | urlize) }}
        <dt>          
          <a rel="item s:hasPart" typeof="s:Collection s:CreativeWork" 
             href="{{ $tagurl }}">
            <span property="s:title" >{{ $key }}</span>
          </a>          
        </dt>
        {{ range $value.Pages }}
        <dd about="{{ $tagurl }}" rel="s:hasPart" resource="{{ .Permalink }}">
          <!-- {{- partial "summary.html" . }} -->
          <a href="{{ .Permalink }}">
            <span property="s:name" >{{ .Title }}</span>
          </a>
        </dd>
        {{ end }}
      {{ end }}
      </dl>
</section>
{{ end }}
