/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,200;0,500;1,200&family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,300&family=Oswald:wght@600&display=swap');
/**
    font-family: 'Caveat', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Oswald', sans-serif;

https://fonts.google.com/specimen/Caveat?sidebar.open=true&selection.family=Caveat:wght@400;700|IBM+Plex+Mono:ital,wght@0,200;0,500;1,200|IBM+Plex+Serif:ital,wght@0,400;0,600;1,300|Oswald:wght@600&category=Handwriting&preview.size=33&subset=latin-ext
*/