<footer>
    <nav>
      <ul>
        <li><a href="#">Back to top</a></li>
        <li><a href="{{ .Site.BaseURL }}index.xml">RSS</a></li>
        <li typeof="s:Person" about="{{ $.Site.Params.ORCIDURL }}"><a rel="external s:sameAs" href="{{ $.Site.Params.TwitterURL }}">Twitter</a></li>
        <li typeof="s:Person" about="{{ $.Site.Params.ORCIDURL }}"><a rel="external s:sameAs" href="{{ $.Site.Params.GitHubURL }}">GitHub</a></li>
        <li typeof="s:Person" about="{{ $.Site.Params.ORCIDURL }}"><a rel="external s:sameAs" href="{{ $.Site.Params.LinkedInURL }}">LinkedIn</a></li>
        <li><a rel="external author s:creator" typeof="s:Person" href="{{ $.Site.Params.ORCIDURL }}">ORCID</a></li>
      </ul>
    </nav>
 
  <div class="license">
    <a href="http://creativecommons.org/licenses/by/4.0/"><img 
        alt="Creative Commons Licence" src="/2022/images/cc-by-4.0.svg" /></a>
     This work by 
    {{ if .Params.authors }}
      {{- range $k,$v := .Params.authors -}}
        {{- if $k -}}, {{ end }}
        <a rel="author s:author" typeof="s:Person"
        href="{{ $v.orcid }}">
          <span property="s:name">{{ $v.name }}</span>
        </a>
      {{- end -}}
    {{ else }}    
      <a rel="author s:author" typeof="s:Person"
         href="{{ $.Site.Params.ORCIDURL }}">
        <span property="s:name">{{ $.Site.Params.authorName }}</span>
      </a>
    {{ end }}
        is licensed under a 
     <a property="s:license" typeof="s:CreativeWork"
        href="http://creativecommons.org/licenses/by/4.0/">
        <span property="s:name">Creative Commons Attribution 4.0 International License</span>
      </a>.
  </div>
</footer>

{{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics.html" . }}
{{ end }}

