<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{end}}</title>

    <meta name="robots" content="noodp"/>
    
    {{ if .IsPage }}
      <meta name="description" content="{{ .Description }}">
    {{ else if .IsHome }}
      <meta name="description" content="{{ .Site.Params.siteDescription }} by {{ .Site.Params.authorName }}">
    {{ else if .IsNode }}
      <meta name="description" content="{{ .Title }}">
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}"/>
  
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s s:encoding" typeof="s:MediaObject" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <!-- Styles -->
    {{- $normalize_css := resources.Get "css/normalize.css" }}
   
    {{- $inServerMode   := .Site.IsServer }}
    {{- $cssTarget      := "css/style.css" }}
    {{- $cssOptions     := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "nested") }}
    {{- $style          := resources.Get "scss/style-in-use.scss" | toCSS $cssOptions }}

    {{- $css := slice $normalize_css $style | resources.Concat "2022/css/bundle.css" }}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&amp;family=IBM+Plex+Mono:ital,wght@0,200;0,500;1,200&amp;family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,300&amp;family=Oswald:wght@600&amp;family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;family=Source+Code+Pro&amp;family=Open+Sans&amp;display=swap">
</head>
